<h1>Creating a Single Page Application</h1>
<p class="">Testing to create a SPA with javascript vanilla</p>
<button id="btnClick" class="btn btn-primary">Show article</button>
<article id="article" class="article" style="display: none;">
  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Soluta adipisci
  tempora magni excepturi doloremque ipsa corporis labore. Illum necessitatibus
  cum animi blanditiis laudantium, sapiente eaque eligendi iure. Voluptatem,
  cumque possimus!
</article>
